
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  width: 400px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}